/*-----Shared styles-----*/
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    border: none;
    border-radius: 8px;
    background-color: orange;
    padding: 14px 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
/*-----header styles------*/
header {
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 28px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.nav-taitle {
    font-size: 2rem;
}

/*-------banner styles----*/
.banner-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.banner-description {
    color: rgb(99, 99, 99);
    padding-top: 22px;
    padding-bottom: 22px;
}
.banner img {
    margin-top: 32px;
    width: 100%;
}
.banner {
    margin-top: 62px;
}

/* responsive media queries */
/*mobile devices*/
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }
    header {
        padding: 50px;
    }
}