/*-----Shared styles-----*/
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    border: none;
    border-radius: 8px;
    background-color: orange;
    padding: 14px 25px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
/*-----header styles------*/
header {
    background-color: antiquewhite;
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 28px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.nav-taitle {
    font-size: 2rem;
}

/*-------banner styles----*/
.banner-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}
.banner-description {
    color: rgb(99, 99, 99);
    padding-top: 22px;
    padding-bottom: 22px;
}
.banner img {
    margin-top: 32px;
    width: 100%;
}
.banner {
    margin-top: 62px;
}

/* main styles */
main{
    width: 66%;
    margin: 66px auto;
}
.teams-container {
    display: flex;
    align-items: center;
}
.teams-img-container img{
    width: 200px;
    height: 200px;
    border-radius: 16px;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.teams-content {
    padding-left: 70px;
}
.teams-content .teams-title {
    position: static;
}
.teams-content h1{
    font-size: 32px;
    padding-bottom: 12px;
    line-height: 0px;
}
.teams-title .Quick-list {
    color: rgb(105, 100, 91);
}
.teams-title .of-our {
    color: rgb(4, 23, 44)85, 80, 80);
}
.teams-title .features {
    color: orange;
}
.teams-description {
    font-size: 14px;
    color: rgb(103, 106, 107);
    line-height: 22px;
    padding-bottom: 22px;
}

/* Features section style */
.features {
    margin-top: 70px;
    display: flex;
    gap: 100px;
}
.feature-img img{
    width: 400px;
    margin-left: 50px;
}
.card .text-light-gray, .text-light-gray{
    font-size: 14px;
}
.features-content .card {
    background-color: aliceblue;
    padding: 12px;
    margin-bottom: 22px;
    border-radius: 8px;
}
.features-content .section-title {
    font-size: 38px;
    margin-bottom: 16px;
    line-height: 48px;
}
.features-content .text-light-gray-2 {
    margin-bottom: 22px;
    font-size: 16px;
}
.features-content .section-title {
    border-left: 5px solid orange;
    padding-left: 14px;
    margin-top: 0px;
    margin-bottom: 0;
}
.ten-years-badge {
    border-radius: 8px;
    background-color: orange;
    color: white;
    width: 192px;
    padding: 22px;
    position: relative;
    bottom: 60px;
}
.ten-years-badge h2 {
    font-size: 27px;
    text-align: center;
}
.ten-years-badge p{
    text-align: center;
}


/* facts section */
.facts, .section-title {
    padding-top: 42px;
}
.facts .text-light-gray {
    padding-top: 12px;
    padding-bottom: 52px;
}
.facts-card-container .card {
    border: 1px solid orange;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
} 
.facts-card-container {
    display: flex;
    justify-content: space-around;
}
.card img {
    width: 50px;
}
.card .card-stats {
    font-size: 32px;
    padding: 12px;
}
.facts-card-container {
    gap: 20px;
}

/* sponsors section */
.Sponsors {
    text-align: center;
}
.sponsors-img-container img{
    width: 180px;
}
.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
}

/* responsive media queries */
/*mobile devices*/
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav, .teams-container, 
    .facts-card-container,
    .sponsors-img-container,
    .features
    {
        flex-direction: column;
        align-items: center;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .teams-content {
        padding-right: 256px;
    }
    .teams-img-container img{
        width: 320px;
        height: 320px;
        border-radius: 16px;
    }
    .teams-container {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .teams-content .teams-title {
        position: static;
        max-width: 200px;
    }
}
/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    header {
        padding: 50px;
    }
}

